:root {
  /*variables control panel */

  /*footer height */
  --foot-h: 180px;
  /*mobile version sidebar width */
  --mob-side-w: 300px;
  /*full shown sidebar with labels and playlist */
  --side-w: 200px;
  /*call to action height*/
  --cta-h: 60px;
  /* row gap */
  --gap: 10px;
  /*column sizes*/
  --col-16: calc(100% / 6);
  --col-20: 20%;
  --col-30: 30%;
  --col-40: 40%;
  --col-50: 50%;
  --col-60: 60%;
  /*background colors*/
  --foot-color: #595050;
  --side-bar-color: rgb(10, 0, 49);
}
main {
  height: calc(100vh - var(--foot-h));
  display: flex;
}
#sidebar {
  width: var(--mob-side-w);
  height: 100%;
  color: azure;
  background-color: var(--side-bar-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  overflow-y: auto;
  font-size: 0.8rem;
}
#main-content {
  width: calc(100vw - var(--mob-side-w));
  height: 100%;
  overflow-y: auto;
  background-color: #aab0ba;

}

#numbers
{
  margin-top: var(--cta-h);
}
footer {
  height: var(--foot-h);
  width: 100vw;
  background-color: var(--foot-color);

}

.cta {
  display: flex;
  justify-content: center;
  position: fixed;
  color: azure;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  width: calc(100vw - var(--mob-side-w));
  height: var(--cta-h);
  align-items: center;
  z-index: 3;
}
.controls{
    border-radius: 50%;
    height:160px;
    width:160px;
    font-size: 100px;
}
.spin{
      border: 1px solid, black;
      background-image: -moz-radial-gradient(white, green, black);
}
.reset{
  border: 1px solid, black;
    background-image: -moz-radial-gradient(white, red, black);
}





