:root {
  /*variables control panel */

  /*footer height */

  --foot-h: 100px;
  --foot-h-600: 80px;
  --foot-h-800: 100px;
  --foot-h-1080: 180px;
  --foot-h-1920: 180px;
  --foot-h-2400: 200px;
  /*mobile version sidebar width */
  --mob-side-w-reduced: 70px;
  --mob-side-w-opened: 390px;
  
  --mob-side-w-800: 200px;
  --mob-side-w-1080: 120px;
  --mob-side-w-1920: 400px;
  --mob-side-w-2400: 400px;
  
  /*full shown sidebar with labels and playlist */
  
  /*call to action height*/
  --cta-h: 60px;
 
  /*background colors*/
  --foot-color: #595050;
  --side-bar-color: rgb(10, 0, 49);
}
main {
  height: calc(100vh - var(--foot-h));
  display: flex;
}
#sidebar {
  width: var(--mob-side-w-reduced);
  height: 100%;
  color: azure;
  background-color: var(--side-bar-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  overflow-y: auto;
  font-size: 0.8rem;
}
#sidebar.opened {
  width: var(--mob-side-w-opened);
  
}


#main-content {
  width: calc(100vw - var(--mob-side-w-reduced));
  height: 100%;
  overflow-y: auto;
  background-color: #aab0ba;

}
#main-content.opened {
  width: calc(100vw - var(--mob-side-w-opened));
 display:none;
}

#numbers
{
  margin-top: var(--cta-h);
  
}
footer {
  height: var(--foot-h);
  width: 100vw;
  background-color: var(--foot-color);

}

#cta {
  display: flex;
  justify-content: center;
  position: fixed;
  color: azure;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  width: calc(100vw - var(--mob-side-w-reduced));
  height: var(--cta-h);
  align-items: center;
  z-index: 3;
}
#cta.opened {
  
  width: calc(100vw - var(--mob-side-w-opened));
  
}
.controls{
    
    border-radius: 50%;
    height:50px;
    width:50px;
    font-size: 15px;
    border: 3px solid, black;
}

.sidebarToggle{
  background-image: -moz-radial-gradient(rgb(255, 255, 255), rgb(27, 103, 234), black);
}

.spin{
      
      background-image: -moz-radial-gradient(white, green, black);
}
.reset{
  
    background-image: -moz-radial-gradient(white, red, black);
}







